.container {
    width: 80%;
    max-width: 400px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group i {
    padding: 10px;
    background-color: #f2f2f2;
    color: #777;
    border-radius: 8px 0 0 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 0 8px 8px 0;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.or {
    text-align: center;
    margin-bottom: 20px;
    color: #777;
}

.icons {
    text-align: center;
    margin-bottom: 20px;
}

.icons i {
    margin: 0 10px;
    font-size: 24px;
    color: #777;
    cursor: pointer;
}

.links {
    text-align: center;
}

.links button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.links button:hover {
    color: #0056b3;
}
